@import 'variables';

.hello {
  color: red;
  background: url('./../images/test.jpeg');
  background-size: contain;
  width: 100px;
  height: 100px;
  display: flex;
  font-size: $font-size;
}
body {
  background: blue;
}
